config/profiles.json
config/gui_settings.json
config/profile_key.key
medicover_app.log
app/__pycache__/appointment_formatter.cpython-313.pyc
app/__pycache__/chrome_driver_factory.cpython-313.pyc
app/__pycache__/config.cpython-313.pyc
app/__pycache__/custom_widgets.cpython-313.pyc
app/__pycache__/data_manager.cpython-313.pyc
app/__pycache__/error_handler.cpython-313.pyc
app/__pycache__/gui.cpython-313.pyc
app/__pycache__/login_form_handler.cpython-313.pyc
app/__pycache__/main.cpython-313.pyc
config/credentials.json
app/__pycache__/profile_manager.cpython-313.pyc
app/__pycache__/medicover_authenticator.cpython-313.pyc
app/__pycache__/medicover_api.cpython-313.pyc
app/__pycache__/medicover_client.cpython-313.pyc
